{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/isotope/isotope.pkgd.min.js' %}"></script>
{% endblock %}


{% block banner-image %}{% menu_banner_image 'cabincharter:main' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'cabincharter:main' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'cabincharter:main' %}{% endblock %}
{% block banner-subtitle %}{% menu_banner_subtitle 'cabincharter:main' %}{% endblock %}


{% block main-container %}
    {% load humanize %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                	{% for region in region_list %}
                        {% if region.offer_set.exists %}
                            <h2 class="text-center">{{ region.title }}</h2>
                            <div class="separator"></div>
                            <br>
                            <div class="row masonry-grid">
                                {% for offer in region.offer_set.all %}
                                    <div class="col-md-4 col-sm-6 masonry-grid-item">
                                        <div class="listing-item white-bg bordered mb-20">
                                            <div class="overlay-container overlay-visible">
                                                <img src="{{ offer.card_image.url }}" alt="{{ offer.title }}">
                                                <a href="{{ offer.get_absolute_url }}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                                <span class="badge">{{ offer.period }}</span>
                                            </div>
                                            <div class="body">
                                                <h3><a href="{{ offer.get_absolute_url }}">{{ offer.title }}</a></h3>
                                                <div class="separator-2"></div>
                                                <ul class="list-unstyled">
                                                    <li><span class="pr-5">Даты круиза:</span> {{ offer.period|safe }}</li>
                                                    <li>Место старта: {{ offer.start_port }}</li>
                                                    <li>Судно: {{ offer.yacht.yacht_type.title_nominative|lower }} {{ offer.yacht.title }}</li>
                                                </ul>
                                                <p>Стоимость {% if offer.price_from %}<span class="small">от</span>{% endif %} <span class="price">{{ offer.price|intcomma }} €</span></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="separator"></div>
                	<p class="text-center lead"><a href="{% url 'cabincharter:offer_archive' %}">Архив круизов</a></p>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}