{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load humanize %}
{% load seo %}

{% block meta-og %}
    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{{ offer.title  }} {{ 'круиз на '|add:offer.yacht.yacht_type.title_prepositional|lower }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ offer.card_image.url }}" />
{% endblock %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}


{% block banner-image %}{{ offer.banner_image.url }}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'cabincharter:main' offer.get_absolute_url offer.title %}{% endblock %}
{% block banner-title %}{{ offer.title }}{% endblock %}
{% block banner-subtitle %}{{ 'круиз на '|add:offer.yacht.yacht_type.title_prepositional|lower }}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="blogpost">
                        {% if not offer.region %}
                            <div class="alert alert-warning">
                                <p class="lead"><strong>Круиз закончен</strong><p>
                                <p><a href="{% url 'cabincharter:main' %}">Актуальные круизы</a></p>
                            </div>
                        {% endif %}
                        {{ offer.cruise_description|safe }}
                    </div>
                    <div class="blogpost">
                        <h2>Круиз на {{ offer.yacht.yacht_type.title_prepositional|lower }} <strong>{{ offer.yacht.title }}</strong></h2>
                        <div class="separator-2"></div>
                        <div class="row space-bottom">
                            <div class="col-md-6">
                                {% for img in offer.yacht.get_obj_by_type.photo_gallery.charter_images.all %}
                                    {% if forloop.first %}
                                        <div class="shadow bordered">
                                            <div class="overlay-container">
                                                <img src="{{ img.image.url }}" alt="{{ offer.yacht.title }},  {{ offer.yacht.cabin_display }} кают(ы){% if offer.yacht.built_year %}, {{ offer.yacht.built_year }} г. выпуска {% endif %}">
                                                <a href="{{ img.image.url }}" class="overlay-link popup-img">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="space-bottom"></div>
                                    {% endif %}
                                    {% if forloop.first %}
                                        <div class="row grid-space-20">
                                    {% endif %}
                                    {% if not forloop.first %}
                                            <div class="col-xs-4">
                                                <div class="overlay-container">
                                                    <img src="{{ img.thumbnail.url }}" alt="{{ offer.yacht.title }},  {{ offer.yacht.cabin_display }} кают(ы){% if offer.yacht.built_year %}, {{ offer.yacht.built_year }} г. выпуска {% endif %}">
                                                    <a href="{{ img.image.url }}" class="overlay-link small popup-img">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                    {% endif %}
                                    {% if forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="space-bottom"></div>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Характеристики {{ offer.yacht.yacht_type.title_genitive|lower }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if offer.yacht.gulet %}
                                            <tr>
                                                <td>Класс</td>
                                                <td class="information">
                                                    {{ offer.yacht.get_obj_by_type.gulet_class }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if offer.yacht.sailingyacht or offer.yacht.catamaran or offer.yacht.motoryacht or offer.yacht.luxyacht %}
                                            <tr>
                                                <td>Бренд</td>
                                                <td class="information">
                                                    {{ offer.yacht.get_obj_by_type.shipyard.title }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>Длина</td>
                                            <td class="information">
                                                {{ offer.yacht.length }} м = {{ offer.yacht.length_ft }} фт
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ширина</td>
                                            <td class="information">
                                                {{ offer.yacht.beam }} м = {{ offer.yacht.beam_ft }} фт
                                            </td>
                                        </tr>
                                        {% if offer.yacht.sailingyacht or offer.yacht.catamaran or offer.yacht.motoryacht %}
                                            <tr>
                                                <td>Осадка</td>
                                                <td class="information">
                                                    {{ offer.yacht.get_obj_by_type.draft }} м = {{ offer.yacht.get_obj_by_type.draft_ft }} фт
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>Кают</td>
                                            <td class="information">
                                                {{ offer.cabin }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>WC</td>
                                            <td class="information">
                                                {{ offer.wc }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{{ offer.yacht.get_absolute_url }}" class="btn btn-animated btn-default-transparent btn-sm">Подробнее <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        {{ offer.price_description|safe }}
                        <ul class="nav nav-tabs style-4" role="tablist">
                            {% for month in offer.charterprice_set.all %}
                                <li {% if forloop.first %} class="active" {% endif %}>
                                    <a href="#{{ month.id }}" data-toggle="tab" aria-expanded="{{ forloop.first|lower }}">{{ month.month_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content clear-style">
                            {% for month in offer.charterprice_set.all %}
                                <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ month.id }}">
                                    <div class="table-responsive listing-item">
                                        <table class="table table-price table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">1&nbsp;чел.&nbsp;в&nbsp;каюте</th>
                                            {% if month.charterpriceline_set.first.two_person_price %}
                                                <th class="text-center">2&nbsp;чел.&nbsp;в&nbsp;каюте</th>
                                            {% endif %}
                                            {% if month.charterpriceline_set.first.three_person_price %}
                                                <th class="text-center">3&nbsp;чел.&nbsp;вкаюте</th>
                                            {% endif %}
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for price in month.charterpriceline_set.all %}
                                            <tr>
                                                <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                                <td class="text-center"><span class="price">{{ price.one_person_price|intcomma }} €</span></td>
                                                {% if price.two_person_price %}
                                                    <td class="text-center"><span class="price">{{ price.two_person_price|intcomma }} €</span></td>
                                                {% endif %}
                                                {% if price.three_person_price %}
                                                    <td class="text-center"><span class="price">{{ price.three_person_price|intcomma }} €</span></td>
                                                {% endif %}
                                                <td><a rel="nofollow" href="{% url 'feedbackform:cabin_charter' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Забронировать<i class="fa fa-arrow-right"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>В стоимость включено</h3>
                                <ul class="list-icons">
                                    {% for item in offer.priceinclude_set.all %}
                                        <li><i class="icon-check"></i> {{ item.include|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Дополнительно оплачивается</h3>
                                <ul class="list-icons">
                                    {% for item in offer.priceexclude_set.all %}
                                        <li><i class="icon-plus float-left"></i> {{ item.exclude|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blogpost">
                        <h2>Программа круиза</h2>
                        <div class="separator-2"></div>
                        <div class="alert alert-info" >
                            <p class="lead">Место старта - <span class="pl-5">{{ offer.start_port }}</span></p>
                        </div>
                        <div class="space-bottom"></div>
                        {{ offer.cruise_program|safe }}
                    </div>
                    {% if offer.afterword|length > 0  %}
                        <div class="blogpost">
                            {{ offer.afterword|safe }}
                        </div>
                    {% endif %}
                    <div class="blogpost">
                        <p class="lead"><strong>До встречи на яхте!</strong></p>
                    </div>
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
