{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load form_tag %}
{% load seo %}

{% block meta-og %}
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{% menu_banner_title 'faq:main' %}" />
    <meta property="og:description" content="Ниже вы найдете ответы на вопросы, которые часто возникают у туристов, желающих отдохнуть на яхте, и много другой полезной информации." />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{% menu_banner_image 'faq:main' %}" />
{% endblock %}

{% block banner-image %}{% menu_banner_image 'faq:main' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'faq:main' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'faq:main' %}{% endblock %}
{% block banner-subtitle-wrapper %}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <div class="blogpost">
                        <div class="panel-group collapse-style-1" id="accordion-faq">
                            <p>Ниже вы найдете ответы на вопросы, которые часто возникают у туристов, желающих отдохнуть на яхте, и много другой полезной информации.</p>
                            <p>Если у вас появятся вопросы, напишите или позвоните нам. Мы с радостью вам поможем.</p>
                            <div class="space-bottom"></div>
                            {% for question in question_list %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#{{ question.id }}" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> {{ question.title }}</a>
                                        </h4>
                                    </div>
                                    <div id="{{ question.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ question.answer|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>

                </div>
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Задать вопрос</h3>
                            <div class="separator-2"></div>
                            <div class="alert alert-success hidden" id="MessageSent3">
                                Мы получили ваше сообщение и оветим вам в ближайшее время.
                            </div>
                            <div class="alert alert-danger hidden" id="MessageNotSent3">
                                Что-то пошло не так. Пожалуйста перезагрузите страницу и еще раз.
                            </div>
                            {% faq_form as faq_form %}
                            <form id="ask_question" class="margin-clear" method="POST" action="{% url 'feedbackform:faq' %}">
                                {% csrf_token %}
                                <div class="form-group has-feedback {% if faq_form.name.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ faq_form.name.id_for_label }}"><strong>{{ faq_form.name.label }}</strong></label>
                                    {{ faq_form.name }}
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback {% if faq_form.email.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ faq_form.email.id_for_label }}"><strong>{{ faq_form.email.label }}</strong></label>
                                    {{ faq_form.email }}
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback {% if faq_form.message.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ faq_form.message.id_for_label }}">{{ faq_form.message.label }}</label>
                                    {{ faq_form.message }}
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <div class="alert hidden"></div>
                                <input value="Отправить" class="margin-clear submit-button btn btn-default" type="submit">
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}