{% extends "base.html" %}
{% load staticfiles %}
{% load main_menu %}
{% load banner %}
{% load seo %}

{% block pagination %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="{% path_to_page page_obj.previous_page_number %}">
    {% endif %}
    {% if page_obj.has_next %}
        <link rel="next" href="{% path_to_page page_obj.next_page_number %}">
    {% endif %}
    <link rel="canonical" href="{% url 'blog:main' %}" />
{% endblock %}


{% block banner %}
    {% breadcrumbs_show 'blog:main' %}
{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <h1 class="page-title">Блог - интересно о яхтах и яхтинге</h1>
                    <div class="separator-2"></div>
                    <div class="space-bottom"></div>
                    {% for post in post_list %}
                        <article class="blogpost">
                            <div class="overlay-container">
                                <img src="{{ post.card_image.url }}" alt="{{ post.title }}">
                                <a class="overlay-link" href="{{ post.get_absolute_url }}"><i class="fa fa-link"></i></a>
                            </div>
                            <header>
                                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                <div class="post-info">
                                    <span class="post-date">
                                        <i class="icon-calendar"></i>
                                        <span>{{ post.publish_date|date:'DATE_FORMAT' }}</span>
                                    </span>
                                </div>
                            </header>
                            <div class="blogpost-content">
                                {{ post.introtext|safe }}
                            </div>
                            <footer class="clearfix">
                                <div class="tags pull-left"><i class="icon-tags"></i> <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></div>
                                <div class="link pull-right"><i class="icon-link"></i><a href="{{ post.get_absolute_url }}">Читать далее</a></div>
                            </footer>
                        </article>
                    {% endfor %}
                    {% if is_paginated %}
                        <nav>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="{% path_to_page page_obj.previous_page_number %}" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
						        {% endif %}
                                {% for page_num in page_obj.paginator.page_range  %}
                                    {% if page_num == page_obj.number %}
                                        <li class="active"><a href="#">{{ page_num }}<span class="sr-only">(current)</span></a></li>
                                    {% else %}
                                        <li><a href="{% path_to_page page_num %}">{{ page_num }}</a></li>
                                    {% endif %}
						        {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="{% path_to_page page_obj.next_page_number %}" aria-label="Previous"><i class="fa fa-angle-right"></i></a></li>
						        {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <nav class="affix-menu scrollspy">
                            <div class="block clearfix">
                                <h3 class="title">Рубрики</h3>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        {% for cat in cat_list %}
                                            <li{% if cat.slug in request.path %} class="active"{% endif %}><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
                                        {% endfor %}
                                        <li{% if cat.slug in request.path %} class="active"{% endif %}><div class="separator-2"></div><a href="{% url 'blog:main' %}">Все материалы</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}