{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load seo %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}

{% block meta-og %}
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{{ post.title  }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ post.card_image.url }}" />
{% endblock %}


{% block banner %}
    {% breadcrumbs_show 'blog:main' post.get_absolute_url post.title %}
{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <h1 class="page-title">{{ post.title }}</h1>
                    <article class="blogpost full">
                        <header>
                            <div class="post-info">
                                <span class="post-date">
                                    <i class="icon-calendar"></i>
                                    <span>{{ post.publish_date|date:'DATE_FORMAT' }}</span>
                                </span>
                            </div>
                        </header>
                        <div class="blogpost-content">
                            <div class="overlay-container mb-20">
                                <img src="{{ post.card_image.url }}" alt="{{ post.title }}">
                            </div>
                            {{ post.body|safe }}
                            {% if post.photo_gallery.exists %}
                                <div class="row">
                                    {% for img in post.photo_gallery.all %}
                                        <div class="col-xs-6 mb-20">
                                            <div class="overlay-container">
                                                <img src="{{ img.thumbnail.url }}" alt="{{ img.alt }}">
                                                <a href="{{ img.image.url }}" class="overlay-link small popup-img"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </article>
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                            <div class="tags pull-right"><i class="icon-tags"></i> <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></div>
                        </footer>
                    </div>
                </div>
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="affix-menu scrollspy">
                            <div class="block clearfix">
                                <h3 class="title">Рубрики</h3>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        {% for cat in cat_list %}
                                            <li{% if cat.slug in request.path %} class="active"{% endif %}><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
                                        {% endfor %}
                                        <li{% if cat.slug in request.path %} class="active"{% endif %}><div class="separator-2"></div><a href="{% url 'blog:main' %}">Все материалы</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}