<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-5"></i><a class="link-dark" href="{% url 'home' %}">Главная</a></li>
            {% for item in breadcrumbs_list %}
                <li><a class="link-dark" href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
