{% extends "base.html" %}


{% block meta-robots %}follow,noindex{% endblock %}


{% block banner %}
{#    Empty#}
{% endblock %}

{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <h3>Рассчитать тур на яхте</h3>
                    <div class="separator-2"></div>
                    {% if form_extras.exists %}
                        <div class="space-bottom"></div>
                        {{ form_extras.get.text_top|safe }}
                    {% endif %}

                    <div class="space-bottom"></div>
                    <form method="post" action="{% url 'feedbackform:tour_calculation' %}">
                        {% csrf_token %}
                        <div class="form-group has-feedback {% if form.period.errors %}has-error{% endif %}">
                            <label for="{{ form.period.id_for_label }}"><strong>{{ form.period.label }}</strong></label>
                            {% for error in form.period.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.period }}
                        </div>
                        <div class="form-group has-feedback {% if form.country.errors %}has-error{% endif %}">
                            <label for="{{ form.country.id_for_label }}"><strong>{{ form.country.label }}</strong></label>
                            {% for error in form.country.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.country }}
                        </div>
                        <div class="form-group has-feedback {% if form.people.errors %}has-error{% endif %}">
                            <label for="{{ form.people.id_for_label }}"><strong>{{ form.people.label }}</strong></label>
                            {% for error in form.people.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.people }}
                        </div>
                        <div class="form-group has-feedback {% if form.yacht_type.errors %}has-error{% endif %}">
                            <label for="{{ form.yacht_type.id_for_label }}"><strong>{{ form.yacht_type.label }}</strong></label>
                            {% for error in form.yacht_type.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% for radio in form.yacht_type %}
                                <div class="radio">
                                     {{ radio }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback {% if form.skipper.errors %}has-error{% endif %}">
                            <label for="{{ form.skipper.id_for_label }}"><strong>{{ form.skipper.label }}</strong></label>
                            {% for error in form.skipper.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% for radio in form.skipper %}
                                <div class="radio">
                                     {{ radio }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback {% if form.name.errors %}has-error{% endif %}">
                            <label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label>
                            {% for error in form.name.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.name }}
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.phone.errors %}has-error{% endif %}">
                            <label for="{{ form.phone.id_for_label }}"><strong>{{ form.phone.label }}</strong></label>
                            {% for error in form.phone.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.phone }}
                            <i class="fa fa-phone form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                            <label for="{{ form.email.id_for_label }}"><strong>{{ form.email.label }}</strong></label>
                            {% for error in form.email.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.email }}
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.message.errors %}has-error{% endif %}">
                            <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                            {% for error in form.message.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.message }}
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                        <input value="Отправить запрос" class="submit-button btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}