{% extends "base.html" %}
{% load humanize %}

{% block meta-robots %}follow,noindex{% endblock %}

{% block banner %}
{#    Empty#}
{% endblock %}

{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <h3>{{ obj.cruise.title }}</h3>
                    <div class="separator-2"></div>
                    <table>
                        <tbody>
                        <tr>
                            <th>Даты:</th>
                            <td class="pl-20 lead">{{ obj.date_from }} &mdash; {{ obj.date_to }}</td>
                        </tr>
                        <tr>
                            <th>Стоимость места:</th>
                            <td class="pl-20 lead">{{ obj.price|intcomma }} €</td>
                        </tr>
                        </tbody>
                    </table>
                    {% if form_extras.exists %}
                        <div class="space-bottom"></div>
                        {{ form_extras.get.text_top|safe }}
                    {% endif %}
                    <form method="post" action="{% url 'feedbackform:school_cruise' price_id %}">
                        {% csrf_token %}
                        <div class="form-group has-feedback {% if form.name.errors %}has-error{% endif %}">
                            <label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label>
                            {% for error in form.name.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.name }}
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.phone.errors %}has-error{% endif %}">
                            <label for="{{ form.phone.id_for_label }}"><strong>{{ form.phone.label }}</strong></label>
                            {% for error in form.phone.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.phone }}
                            <i class="fa fa-phone form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                            <label for="{{ form.email.id_for_label }}"><strong>{{ form.email.label }}</strong></label>
                            {% for error in form.email.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.email }}
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.message.errors %}has-error{% endif %}">
                            <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                            {% for error in form.message.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.message }}
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                        <input value="Отправить запрос" class="submit-button btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
