{% extends "base.html" %}
{% load staticfiles %}

{% block meta-robots %}follow,noindex{% endblock %}

{% block banner %}
{#    Empty#}
{% endblock %}

{% block main-container %}
    <div class="main-container parallax jumbotron border-clear dark-translucent-bg text-center margin-clear" style="background-image:url('{% static 'base/images/thanks-bg.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <h2 class="margin-clear"><span class="">Спасибо</span></h2>
                    <h3 class="margin-clear">за вашу заявку</h3>
                    <p class="mt-20">Мы свяжемся с вами в ближайшее время.</p>
                    <a href="{% url 'home' %}" class="btn btn-default btn-animated btn-lg">На Главную <i class="fa fa-home"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}