{% extends "base.html" %}

{% block meta-robots %}follow,noindex{% endblock %}

{% block banner %}
{#    Empty#}
{% endblock %}

{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                    <h3>{{ obj.title }}</h3>
                    <div class="separator-2 mt-20"></div>

                    <table>
                        <tbody>
                        <tr>
                            <th>Длина:</th>
                            <td class="pl-20 lead">{{ obj.length }} м = {{ obj.length_ft }} фт</td>
                        </tr>
                        <tr>
                            <th>Количество кают:</th>
                            <td class="pl-20 lead">{{ obj.cabin_display }}</td>
                        </tr>
                        <tr>
                            <th>Количество сан.узлов:</th>
                            <td class="pl-20 lead">{{ obj.wc_display }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="space-bottom"></div>
                    <form method="post" action="{% url 'feedbackform:yacht_catalogue' obj.id %}">
                        {% csrf_token %}
                        <div class="form-group has-feedback {% if form.period.errors %}has-error{% endif %}">
                            <label for="{{ form.period.id_for_label }}"><strong>{{ form.period.label }}</strong></label>
                            {% for error in form.period.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.period }}
                        </div>
                        <div class="form-group has-feedback {% if form.country.errors %}has-error{% endif %}">
                            <label for="{{ form.country.id_for_label }}"><strong>{{ form.country.label }}</strong></label>
                            {% for error in form.country.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.country }}
                        </div>
                        <div class="form-group has-feedback {% if form.skipper.errors %}has-error{% endif %}">
                            <label for="{{ form.skipper.id_for_label }}"><strong>{{ form.skipper.label }}</strong></label>
                            {% for error in form.skipper.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% for radio in form.skipper %}
                                <div class="radio">
                                     {{ radio }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback {% if form.name.errors %}has-error{% endif %}">
                            <label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label>
                            {% for error in form.name.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.name }}
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.phone.errors %}has-error{% endif %}">
                            <label for="{{ form.phone.id_for_label }}"><strong>{{ form.phone.label }}</strong></label>
                            {% for error in form.phone.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.phone }}
                            <i class="fa fa-phone form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                            <label for="{{ form.email.id_for_label }}"><strong>{{ form.email.label }}</strong></label>
                            {% for error in form.email.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.email }}
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback {% if form.message.errors %}has-error{% endif %}">
                            <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                            {% for error in form.message.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ form.message }}
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                        <input value="Отправить запрос" class="submit-button btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}