{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load banner %}
{% load seo %}

{% block meta-og %}
    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{{ country.title  }} - {{ country_charter.yacht_type.title_charter|lower }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ country.card_image.url }}" />
{% endblock %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/magnific-settings.js' %}"></script>
{% endblock %}


{% block banner-image %}{{ country.banner_image.url }}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'yachtcharter:main' country.get_absolute_url country_charter.yacht_type.title|add:' — '|add:country.title %}{% endblock %}
{% block banner-title %}{{ country.title }}{% endblock %}
{% block banner-subtitle %}{{ country_charter.yacht_type.title_charter|lower }}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="blogpost">
                        {{ country_charter.text_top|safe }}
                    </div>
                    {% for charter_yacht in charter_yacht_list %}
                        <div class="blogpost">
                            <h2>{{ charter_yacht.yacht.title }}</h2>
                            <div class="separator-2"></div>
                            <div class="row space-bottom">
                                <div class="col-md-6">
                                    {% for img in charter_yacht.yacht.get_obj_by_type.photo_gallery.charter_images.all %}
                                        {% if forloop.first %}
                                            <div class="shadow bordered">
                                                <div class="overlay-container">
                                                    <img src="{{ img.image.url }}" alt="{{ charter_yacht.yacht.title }},  {{ charter_yacht.yacht.cabin_display }} кают(ы){% if charter_yacht.yacht.built_year %}, {{ charter_yacht.yacht.built_year }} г. выпуска {% endif %}">
                                                    <a href="{{ img.image.url }}" class="overlay-link popup-img">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="space-bottom"></div>
                                        {% endif %}
                                        {% if forloop.first %}
                                            <div class="row grid-space-20">
                                        {% endif %}
                                        {% if not forloop.first %}
                                                <div class="col-xs-4">
                                                    <div class="overlay-container">
                                                        <img src="{{ img.thumbnail.url }}" alt="{{ charter_yacht.yacht.title }},  {{ charter_yacht.yacht.cabin_display }} кают(ы){% if charter_yacht.yacht.built_year %}, {{ charter_yacht.yacht.built_year }} г. выпуска {% endif %}">
                                                        <a href="{{ img.image.url }}" class="overlay-link small popup-img">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                        {% endif %}
                                        {% if forloop.last %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="space-bottom"></div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Характеристики {{ charter_yacht.yacht.yacht_type.title_genitive|lower }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if charter_yacht.yacht.gulet %}
                                                <tr>
                                                    <td>Класс</td>
                                                    <td class="information">
                                                        {{ charter_yacht.yacht.get_obj_by_type.gulet_class }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if charter_yacht.yacht.sailingyacht or charter_yacht.yacht.catamaran or charter_yacht.yacht.motoryacht or charter_yacht.yacht.luxyacht %}
                                                <tr>
                                                    <td>Бренд</td>
                                                    <td class="information">
                                                        {{ charter_yacht.yacht.get_obj_by_type.shipyard.title }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td>Длина</td>
                                                <td class="information">
                                                    {{ charter_yacht.yacht.length }} м = {{ charter_yacht.yacht.length_ft }} фт
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ширина</td>
                                                <td class="information">
                                                    {{ charter_yacht.yacht.beam }} м = {{ charter_yacht.yacht.beam_ft }} фт
                                                </td>
                                            </tr>
                                            {% if charter_yacht.yacht.sailingyacht or charter_yacht.yacht.catamaran or charter_yacht.yacht.motoryacht %}
                                                <tr>
                                                    <td>Осадка</td>
                                                    <td class="information">
                                                        {{ charter_yacht.yacht.get_obj_by_type.draft }} м = {{ charter_yacht.yacht.get_obj_by_type.draft_ft }} фт
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td>Кают</td>
                                                <td class="information">
                                                    {{ charter_yacht.cabin }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>WC</td>
                                                <td class="information">
                                                    {{ charter_yacht.wc }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="{{ charter_yacht.yacht.get_absolute_url }}" class="btn btn-animated btn-default-transparent btn-sm">Подробнее <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <ul class="list-unstyled space-bottom">
                                <li>Год постройки судна: <span class="lead pl-5">{{ charter_yacht.built_year }} г.</span></li>
                                <li>Порт где находиться судно: <span class="lead pl-5">{{ charter_yacht.start_port }}</span></li>
                            </ul>
                            <ul class="nav nav-tabs style-4" role="tablist">
                                {% for month in charter_yacht.yachtcharterpricelist_set.all %}
                                    <li {% if forloop.first %} class="active" {% endif %}>
                                        <a href="#{{ month.id }}" data-toggle="tab" aria-expanded="{{ forloop.first|lower }}">{{ month.month_title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content clear-style">
                                {% for month in charter_yacht.yachtcharterpricelist_set.all %}
                                    <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ month.id }}">
                                        {% if month.yachtcharterbareboatpriceline_set.exists %}
                                            <div class="table-responsive listing-item">
                                                <table class="table table-price table-hover">
                                                <tbody>
                                                    {% for price in month.yachtcharterbareboatpriceline_set.all %}
                                                        <tr>
                                                            <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                                            <td>{% if price.discount %}<span class="badge hidden-xs">{{ price.discount }}% скидка</span>{% endif %}</td>
                                                            <td><span class="price">{% if price.initial_price %}<del>{{ price.initial_price|intcomma }} €</del> {% endif %}{{ price.final_price|intcomma }} €</span></td>
                                                            <td><a rel="nofollow" href="{% url 'feedbackform:bareboat_yacht_charter' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Арендовать<i class="fa fa-arrow-right"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                            </div>
                                        {% elif month.yachtchartercrewedpriceline_set.exists %}
                                            <div class="table-responsive listing-item">
                                                <table class="table table-price table-hover">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>За неделю</th>
                                                    <th colspan="2">За день</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for price in month.yachtchartercrewedpriceline_set.all %}
                                                    <tr>
                                                        <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                                        <td><small>от</small> <span class="price">{{ price.week_price|intcomma }} €</span> </td>
                                                        <td><small>от</small> <span class="price"> {{ price.day_price|intcomma }} €</span> </td>
                                                        <td><a rel="nofollow" href="{% url 'feedbackform:crewed_yacht_charter' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Арендовать<i class="fa fa-arrow-right"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if charter_yacht.yachtcharterpriceinclude_set.exists or  charter_yacht.yachtcharterpriceexclude_set.exists or charter_yacht.yachtcharterpriceextraoptions_set.exists %}
                                <div class="row">
                                    {% if charter_yacht.yachtcharterpriceinclude_set.exists %}
                                        <div class="col-md-6">
                                            <h4>В стоимость включено</h4>
                                            <ul class="list-icons">
                                                {% for item in charter_yacht.yachtcharterpriceinclude_set.all %}
                                                    <li><i class="icon-check"></i> {{ item.include|safe }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if charter_yacht.yachtcharterpriceexclude_set.exists %}
                                        <div class="col-md-6">
                                            <h4>Дополнительно оплачивается</h4>
                                            <ul class="list-icons">
                                                {% for item in charter_yacht.yachtcharterpriceexclude_set.all %}
                                                    <li><i class="icon-plus float-left"></i> {{ item.exclude|safe }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if charter_yacht.yachtcharterpriceextraoptions_set.exists %}
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            {% for item in charter_yacht.yachtcharterpriceextraoptions_set.all %}
                                                <h4>{{ item.title }}</h4>
                                                {{ item.description|safe }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if country_charter.text_bottom|length > 0 %}
                        <div class="blogpost">
                            {{ country_charter.text_bottom|safe }}
                        </div>
                    {% endif %}
                    <div class="blogpost">
                        <p class="lead"><strong>До встречи на яхте!</strong></p>
                    </div>
                    {% if other_country_charter.exists %}
                        <div class="blogpost">
                            <div class="row">
                                {% for charter in other_country_charter %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="image-box shadow text-center mb-20 style-2">
                                            <div class="overlay-container overlay-visible">
                                                <img src="{{ charter.yacht_type.card_image.url }}" alt="{{ charter.yacht_type.title_charter}}">
                                                <a href="{{ charter.get_absolute_url }}" class="overlay-link"><i class="fa fa-anchor"></i></a>
                                            </div>
                                            <div class="body">
                                                <h4><a href="{{ charter.get_absolute_url }}">{{ charter.yacht_type.title_charter|capfirst}}</a></h4>
                                                <div class="separator"></div>
                                                <p>{{ charter.country.title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}