{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}


{% block banner-image %}{% menu_banner_image 'yachtcharter:main' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'yachtcharter:main' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'yachtcharter:main' %}{% endblock %}
{% block banner-subtitle %}{% menu_banner_subtitle 'yachtcharter:main' %}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                {% for region in charterregion_list %}
                    <h2 class="text-center">{{ region.title }}</h2>
                    <div class="separator"></div>
                    <br>
                    <div class="row">
                        {% for country in region.country_set.all %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="image-box shadow text-center mb-20  style-2">
                                    <div class="overlay-container offer-card">
                                        <img src="{{ country.card_image.url }}" alt="{{ country.title }}">
                                        <div class="overlay-top">
                                            <div class="text">
                                                <h3>Аренда яхт</h3>
                                            </div>
                                        </div>
                                        <div class="overlay-bottom">
                                            <div class="links">
                                                {% for charter in country.countrycharter_set.all %}
                                                    <a href="{{ charter.get_absolute_url }}" class="btn btn-gray-transparent btn-animated btn-sm">{{ charter.yacht_type.title }}<i class="pl-10 fa fa-arrow-right"></i></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h4>{{ country.title }}</h4>
                                        <div class="separator"></div>
                                        <p>{{ country.sub_title }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
                <h2 class="text-center">Выбрать яхту из каталога</h2>
                <div class="separator"></div>
                <br>
                <div class="row">
                    {% for yacht_type in yachttype_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
                            <div class="image-box shadow text-center mb-20  style-2">
                                <div class="overlay-container offer-card">
                                    <img src="{{ yacht_type.card_image.url }}" alt="{{ yacht_type.title }}">
                                    <a href="{{ yacht_type.get_absolute_url }}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                </div>
                                <div class="body">
                                    <h4>{{ yacht_type.title }}</h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
