{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load seo %}

{% block meta-og %}
    <meta property="og:title" content="{{ yacht.title  }}" />
    <meta property="og:description" content="Характеристики {{ yacht_type.title_genitive|lower }}. Длина: {{ yacht.length }} м. Ширина: {{ yacht.beam }} м. Кают: {{ yacht.cabin_display }}. WC / Душ: {{ yacht.wc_display }}" />
    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ yacht.photo_gallery.first.image.url }}" />
    <link rel="image_src" href="{{ request.get_host }}{{ yacht.photo_gallery.first.image.url }}" />
{% endblock %}

{% block meta-data %}
    <meta content="{{ yacht.yacht_type.title_charter }} по всему миру. Фотографии и характеристики {{ yacht.yacht_type.title_genitive|lower }} {{ yacht.title }}. Длина: {{ yacht.length }} м; Кают: {{ yacht.cabin_display }}; WC: {{ yacht.wc_display }}." name="description">
    <meta content="{{ yacht.yacht_type.title_charter }} {{ yacht.title }}" name="keywords">
    <title>{{ yacht.title }} {% if yacht.built_year %}{{ yacht.built_year }} г.{% endif %} — аренда {{ yacht.yacht_type.title_genitive|lower }} | {% site_name %}</title>
{% endblock %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}


{% block banner-image %}{{ yacht_type.banner_image.url }}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'yachtcharter:main' yacht_type.get_absolute_url yacht_type.title yacht.get_absolute_url yacht.title %}{% endblock %}
{% block banner-title %}{{ yacht.title }}{% endblock %}
{% block banner-subtitle %}{{ yacht_type.title_nominative|lower }}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="blogpost">
                        <h2>Фотографии {{ yacht_type.title_genitive|lower }}</h2>
                        <div class="separator-2"></div>
                        <div class="row space-bottom">
                            <div class="col-md-7">
                                <div class="shadow bordered mb-xs-20 mb-sm-20">
                                    <div class="overlay-container">
                                        <img src="{{ yacht.photo_gallery.first.image.url }}" alt="{{ yacht.title }},  {{ yacht.cabin_display }} кают(ы){% if yacht.built_year %}, {{ yacht.built_year }} г. выпуска {% endif %}">
                                        <a href="{{ yacht.photo_gallery.first.image.url }}" class="overlay-link popup-img">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                {% for img in yacht.get_obj_by_type.photo_gallery.all %}
                                    {% if forloop.first %}
                                        <div class="row grid-space-10">
                                    {% endif %}
                                    {% if not forloop.first %}
                                            <div class="col-xs-3 mb-10">
                                                <div class="overlay-container">
                                                    <img src="{{ img.thumbnail.url }}" alt="{{ yacht.title }},  {{ yacht.cabin_display }} кают(ы){% if yacht.built_year %}, {{ yacht.built_year }} г. выпуска {% endif %}">
                                                    <a href="{{ img.image.url }}" class="overlay-link small popup-img" title="">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                    {% endif %}
                                    {% if forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="blogpost">
                        <h2>Характеристики {{ yacht_type.title_genitive|lower }}</h2>
                        <div class="separator-2"></div>
                        <div class="row mb-20">
                            <div class="col-md-4">
                                <dl class="dl-horizontal margin-clear">
                                    {% if yacht.gulet %}
                                        {% if yacht.built_year %}
                                            <dt>Год постройки</dt>
                                            <dd>{{ yacht.built_year }}</dd>
                                        {% endif %}
                                        <dt>Класс</dt>
                                        <dd>{{ yacht.gulet_class }}</dd>
                                    {% endif %}
                                    <dt>Длина</dt>
                                    <dd>{{ yacht.length }} м = {{ yacht.length_ft }} фт</dd>
                                    <dt>Ширина</dt>
                                    <dd>{{ yacht.beam }} м = {{ yacht.beam_ft }} фт</dd>
                                    {% if yacht.gulet or yacht.luxyacht %}
                                        <dt>Экипаж</dt>
                                        <dd class="margin-clear">всего {{ yacht.crew_num }} чел.</dd>
                                        <dd>{{ yacht.crew_info|safe }}</dd>
                                    {% endif %}
                                    {% if yacht.sailingyacht or yacht.catamaran or yacht.motoryacht %}
                                        <dt>Осадка</dt>
                                        <dd>{{ yacht.draft }} м = {{ yacht.draft_ft }} фт</dd>
                                    {% endif %}
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal margin-clear">
                                    <dt>Кают</dt>
                                    {% if yacht.gulet  or yacht.luxyacht %}
                                        <dd class="margin-clear">всего {{ yacht.cabin_display }} </dd>
                                        <dd>{{ yacht.cabin_info|safe }}</dd>
                                    {% else %}
                                        <dd>{{ yacht.cabin_display }} </dd>
                                    {% endif %}
                                    <dt>Спальные мест</dt>
                                    <dd>{{ yacht.bed }}</dd>
                                    <dt>WC / Душ</dt>
                                    <dd>{{ yacht.wc_display }}</dd>
                                </dl>
                            </div>
                            {% if yacht.sailingyacht or yacht.catamaran or yacht.motoryacht or yacht.luxyacht %}
                                <div class="col-md-4 col-xs-12">
                                    <dl class="dl-horizontal margin-clear">
                                        <dt>Двигатель</dt>
                                        <dd>мощность {{ yacht.engine_power }} л.с.</dd>
                                        {% if yacht.motoryacht or yacht.luxyacht %}
                                            <dt>Скорость</dt>
                                            <dd>максимальная {{ yacht.max_speed }} узлов</dd>
                                            <dd>круизная {{ yacht.cruising_speed }} узлов</dd>
                                            <dt>Расход топлива</dt>
                                            <dd>{{ yacht.fuel_consumption }} литров/час</dd>
                                        {% endif %}
                                        {% if yacht.sailingyacht or yacht.catamaran or yacht.motoryacht %}
                                            <dt>Топливный бак</dt>
                                            <dd>{{ yacht.fuel_tank }} л</dd>
                                            <dt>Бак с водой</dt>
                                            <dd>{{ yacht.water_tank }} л</dd>
                                        {% endif %}
                                    </dl>
                                </div>
                            {% endif %}
                        </div>
                        {% if yacht.brochure %}
                            <p>Скачать брошюру от производителя: <a href="{{ yacht.brochure.url }}">{{ yacht.title }} (PDF)</a> </p>
                        {% endif %}
                    </div>
                    {% if yacht.comfort_pack.exists or yacht.entertainment.exists %}
                        <div class="blogpost">
                            <h2>Дополнительное оборудование</h2>
                            <div class="separator-2"></div>
                            <div class="row mb-20">
                                <div class="col-md-5">
                                    <h3>Удобства</h3>
                                    <ul class="list-icons">
                                        {% for comfortpack in yacht.comfort_pack.all %}
                                            <li><i class="icon-check"></i> {{ comfortpack.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <h3>Досуг</h3>
                                    <ul class="list-icons two-col-list">
                                        {% for entertainment in yacht.entertainment.all %}
                                            <li><i class="icon-check"></i> {{ entertainment.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if yacht.sailingyacht or yacht.catamaran or yacht.motoryacht %}
                        <div class="blogpost">
                            <div class="call-to-action well">
                                <div class="row">
                                    <div class="col-sm-7">
                                <h2 class="title">Понравилась яхта?</h2>
                                        <p>Отправьте заявку на аренду яхты и просчет тура!</p>
                                    </div>
                                    <div class="col-sm-5 text-right mt-20">
                                        <a rel="nofollow" href="{% url 'feedbackform:yacht_catalogue' yacht.id %}" class="btn btn-lg btn-default btn-animated">Арендовать яхту<i class="fa fa-arrow-right pl-20"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if yacht.yachtcharter_set.exists %}
                        {% load humanize %}
                        <div class="blogpost">
                            <h2>{% if yacht.sailingyacht or yacht.catamaran or yacht.motoryacht %}Акционные предложения{% elif yacht.gulet %}Стоимость аренды гулета{% elif yacht.luxyacht %}Стоимость аренды яхты{% endif %}</h2>
                            <div class="separator-2"></div>
                            {% for charter_yacht in yacht.yachtcharter_set.all %}
                                <h3 class="country-tytle-link"><a title="{{ charter_yacht.country.title }} - {{ charter_yacht.yacht.yacht_type.title|lower }}" href="{% url 'yachtcharter:charter_yacht_list' charter_yacht.country.slug charter_yacht.yacht.yacht_type.slug %}">{{ charter_yacht.country.title }}</a></h3>
                                <ul class="list-unstyled space-bottom">
                                    <li>Год постройки судна: <span class="lead pl-5">{{ charter_yacht.built_year }} г.</span></li>
                                    <li>Количество кают: <span class="lead pl-5">{{ charter_yacht.cabin }}</span></li>
                                    <li>Порт где находиться судно: <span class="lead pl-5">{{ charter_yacht.start_port }}</span></li>
                                </ul>
                                <ul class="nav nav-tabs style-4" role="tablist">
                                    {% for month in charter_yacht.yachtcharterpricelist_set.all %}
                                        <li {% if forloop.first %} class="active" {% endif %}>
                                            <a href="#{{ month.id }}" data-toggle="tab" aria-expanded="{{ forloop.first|lower }}">{{ month.month_title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content clear-style">
                                    {% for month in charter_yacht.yachtcharterpricelist_set.all %}
                                        <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ month.id }}">
                                            {% if month.yachtcharterbareboatpriceline_set.exists %}
                                                <div class="table-responsive listing-item">
                                                    <table class="table table-price table-hover">
                                                    <tbody>
                                                        {% for price in month.yachtcharterbareboatpriceline_set.all %}
                                                            <tr>
                                                                <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                                                <td>{% if price.discount %}<span class="badge hidden-xs">{{ price.discount }}% скидка</span>{% endif %}</td>
                                                                <td><span class="price">{% if price.initial_price %}<del>{{ price.initial_price|intcomma }} €</del> {% endif %}{{ price.final_price|intcomma }} €</span></td>
                                                                <td><a rel="nofollow" href="{% url 'feedbackform:bareboat_yacht_charter' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Арендовать<i class="fa fa-arrow-right"></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    </table>
                                                </div>
                                            {% elif month.yachtchartercrewedpriceline_set.exists %}
                                                <div class="table-responsive listing-item">
                                                    <table class="table table-price table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>За неделю</th>
                                                        <th colspan="2">За день</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for price in month.yachtchartercrewedpriceline_set.all %}
                                                        <tr>
                                                            <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                                            <td><small>от</small> <span class="price">{{ price.week_price|intcomma }} €</span> </td>
                                                            <td><small>от</small> <span class="price"> {{ price.day_price|intcomma }} €</span> </td>
                                                            <td><a rel="nofollow" href="{% url 'feedbackform:crewed_yacht_charter' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Арендовать<i class="fa fa-arrow-right"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if charter_yacht.yachtcharterpriceinclude_set.exists or  charter_yacht.yachtcharterpriceexclude_set.exists or charter_yacht.yachtcharterpriceextraoptions_set.exists %}
                                    <div class="row">
                                        {% if charter_yacht.yachtcharterpriceinclude_set.exists %}
                                            <div class="col-md-6">
                                                <h4>В стоимость включено</h4>
                                                <ul class="list-icons">
                                                    {% for item in charter_yacht.yachtcharterpriceinclude_set.all %}
                                                        <li><i class="icon-check"></i> {{ item.include|safe }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if charter_yacht.yachtcharterpriceexclude_set.exists %}
                                            <div class="col-md-6">
                                                <h4>Дополнительно оплачивается</h4>
                                                <ul class="list-icons">
                                                    {% for item in charter_yacht.yachtcharterpriceexclude_set.all %}
                                                        <li><i class="icon-plus float-left"></i> {{ item.exclude|safe }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if charter_yacht.yachtcharterpriceextraoptions_set.exists %}
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                {% for item in charter_yacht.yachtcharterpriceextraoptions_set.all %}
                                                    <h4>{{ item.title }}</h4>
                                                    {{ item.description|safe }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}