{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load seo %}

{% block meta-og %}
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{{ country.title  }} - {{ country.subtitle }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ country.card_image.url }}" />
{% endblock %}


{% block banner-image %}{{ country.banner_image.url }}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'countryhandbook:main' country.get_absolute_url country.title %}{% endblock %}
{% block banner-title %}{{ country.title }}{% endblock %}
{% block banner-subtitle %}{{ country.subtitle }}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-9">
                    <div id="{{ country.charter.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.charter.title }}</h2>
                        <div class="separator-2"></div>
                        {% for charter in country.charter.charterentry_set.all %}
                            <div class="media">
                                <div class="media-left">
                                    <div class="overlay-container">
                                        <img class="media-object" src="{{ charter.country_charter.yacht_type.media_image.url }}" alt="{{ charter.title }}">
                                        <a href="{{ charter.country_charter.get_absolute_url }}" class="overlay-link small"><i class="fa fa-anchor"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="{{ charter.country_charter.get_absolute_url }}">{{ charter.media_heading }}</a></h3>
                                    {{ charter.media_body|safe }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="{{ country.yachting.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.yachting.title }}</h2>
                        <div class="separator-2"></div>
                        {{ country.yachting.entry_text|safe }}
                    </div>
                    <div id="{{ country.route.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.route.title }}</h2>
                        <div class="separator-2"></div>
                        {% for route in country.route.routeentry_set.all %}
                            <h3>Маршрут № {{ route.order_id }} — {{ route.title }}</h3>
                            <div class="alert alert-info">
                                <p>Порт старта: <strong>{{ route.start_port }}</strong>. Общая протяженность маршрута: <strong>{{ route.length }} миль</strong></p>
                            </div>
                            <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for day in route.routeentryday_set.all %}
                                    <tr>
                                        <td>День&nbsp;{{ day.order_id }}</td>
                                        <td>{{ day.checkpoint|safe }}</td>
                                        <td>{% if day.length %}{{ day.length }}&nbsp;миль{% else %}—{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <img src="{{ route.map.url }}" class="img-responsive" alt="Яхтенный маршрут {{ route.title }}">
                            {% if route.map_url %}
                                <p class="mt-10"><a href="{{ route.map_url }}" rel="nofollow" target="_blank">Посмотреть маршрут на карте</a></p>
                            {% endif %}
                            {% if not forloop.last %}
                                <div class="space-bottom"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="{{ country.marina.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.marina.title }}</h2>
                        <div class="separator-2"></div>
                        {% for marina in country.marina.marinaentry_set.all %}
                            <img class="img-responsive mb-20" src="{{ marina.image.url }}" alt="Марина {{ marina.title }}">
                            <h3>{{ marina.title }}</h3>
                            {{ marina.entry_text|safe }}
                            <div class="clearfix"></div>
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <h4>Адрес</h4>
                                        {{ marina.location|safe }}
                                        {% if marina.plan %}
                                            <a href="{{ marina.plan.url }}">Скачать план марины</a><br>
                                        {% endif %}
                                        <a href="{{ marina.map_link }}" target="_blank" rel="nofollow">Посмотреть расположение на карте</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <h4>Контакты</h4>
                                        {{ marina.contacts|safe }}
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <div class="space-bottom"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="{{ country.showplace.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.showplace.title }}</h2>
                        <div class="separator-2"></div>
                        {% for showplace in country.showplace.showplaceentry_set.all %}
                            <img class="img-responsive mb-20" src="{{ showplace.image.url }}" alt="{{ showplace.title }}">
                            <h3>{{ showplace.title }}</h3>
                            {{ showplace.entry_text|safe }}
                            <div class="clearfix"></div>
                                <div class="well well-sm">
                                    <h4>Адрес</h4>
                                    {{ showplace.address|safe }}
                                </div>
                                {% if showplace.opening_hours %}
                                    <div class="well well-sm">
                                        <h4>Время работы</h4>
                                        {{ showplace.opening_hours|safe }}
                                    </div>
                                {% endif %}
                                {% if showplace.ticket_price %}
                                    <div class="well well-sm">
                                        <h4>Стоимость билета</h4>
                                        {{ showplace.ticket_price|safe }}
                                    </div>
                                {% endif %}
                                {% if showplace.recommend %}
                                    <div class="well well-sm">
                                        <h4>Рекомендации</h4>
                                        {{ showplace.recommend|safe }}
                                    </div>
                                {% endif %}
                            {% if not forloop.last %}
                                <div class="space-bottom"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="{{ country.info.menu_slug }}" class="blogpost">
                        <h2 class="space-top">{{ country.info.title }}</h2>
                        <div class="separator-2"></div>
                        {% for info in country.info.infoentry_set.all %}
                            <h3 >{{ info.title }}</h3>
                            {{ info.entry_text|safe }}
                            {% if not forloop.last %}
                                <div class="space-bottom"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>
                </div>
                <aside class="col-md-3 hidden-xs hidden-sm">
                    <div class="sidebar">
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">
                                <li><a href="#{{ country.charter.menu_slug }}">{{ country.charter.menu_title }}</a></li>
                                <li><a href="#{{ country.yachting.menu_slug }}">{{ country.yachting.menu_title }}</a></li>
                                <li><a href="#{{ country.route.menu_slug }}">{{ country.route.menu_title }}</a></li>
                                <li><a href="#{{ country.marina.menu_slug }}">{{ country.marina.menu_title }}</a></li>
                                <li><a href="#{{ country.showplace.menu_slug }}">{{ country.showplace.menu_title }}</a></li>
                                <li><a href="#{{ country.info.menu_slug }}">{{ country.info.menu_title }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}

