{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}


{% block banner-image %}{% menu_banner_image 'countryhandbook:main' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'countryhandbook:main' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'countryhandbook:main' %}{% endblock %}
{% block banner-subtitle %}{% menu_banner_subtitle 'countryhandbook:main' %}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                {% for region in region_list %}
                    <h2 class="text-center">{{ region.title }}</h2>
                    <div class="separator"></div>
                    <br>
                    <div class="row">
                        {% for country in region.country_set.all %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
                                <div class="image-box shadow text-center mb-20  style-2">
                                    <div class="overlay-container offer-card">
                                        <img src="{{ country.card_image.url }}" alt="{{ country.title }}">
                                        <a href="{{ country.get_absolute_url }}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                    </div>
                                    <div class="body">
                                        <h4>{{ country.title }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}