{% extends "base.html" %}
{% block banner %}{% endblock %}
{% block main-container %}
    <section class="main-container jumbotron light-gray-bg text-center margin-clear">
        <div class="container">
            <div class="row">
                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <h1 class="page-title"><span class="text-default">404</span></h1>
                    <h2>Ой! Страница не найдена.</h2>
                    <p>Убедитесь, что запрашиваемый URL в адресной строке браузера верный.</p>
                    <a href="{% url 'home' %}" class="btn btn-default btn-animated btn-lg">Вернуться на Главную <i class="fa fa-home"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}