{% extends "base.html" %}
{% block banner %}{% endblock %}
{% block main-container %}
    <section class="main-container jumbotron light-gray-bg text-center margin-clear">
        <div class="container">
            <div class="row">
                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <h1 class="page-title"><span class="text-default">500</span></h1>
                    <h2>Что-то пошло не так.</h2>
                    <p>На сервере произошла непредвиденная ошибка.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}