<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load seo %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="{% block meta-robots %}follow,index{% endblock %}" name="robots">
        {% block meta-data %}{% meta_data request.path page_obj.number %}{% endblock %}
        {% block meta-og %}{% endblock %}
        {% block pagination %}{% endblock %}
        <link rel="icon" type="image/png" href="{% static 'base/images/favicon-16x16.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'base/images/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'base/images/favicon-96x96.png' %}" sizes="96x96">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        {% compress css %}
            <link href="{% static 'bootstraptemplate/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'bootstraptemplate/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
            <link href="{% static 'bootstraptemplate/fonts/fontello/css/fontello.css' %}" rel="stylesheet">
            <link href="{% static 'bootstraptemplate/css/animations.css' %}" rel="stylesheet">
            <link href="{% static 'bootstraptemplate/plugins/hover/hover-min.css' %}" rel="stylesheet">
            {% block extra-css %}{% endblock %}
            <link href="{% static 'bootstraptemplate/css/style.css' %}" rel="stylesheet" >
            <link href="{% static 'bootstraptemplate/css/skins/light_blue.css' %}" rel="stylesheet">
            <link href="{% static 'bootstraptemplate/css/custom.css' %}" rel="stylesheet">
        {% endcompress %}
	</head>
	<body>

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		<div class="page-wrapper">
            {% include 'navbar.html' %}
            {% block banner %}
                <div class="banner dark-translucent-bg" style="background-image:url('{% block banner-image %}{% endblock %}'); background-position: 50% 32%;">
                    {% block banner-breadcrumbs %}{% endblock %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                                <h1 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% block banner-title %}{% endblock %}</h1>
                                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                                {% block banner-subtitle-wrapper %}<p class="large text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% block banner-subtitle %}{% endblock %}</p>{% endblock %}
                            </div>
                        </div>
                    </div>
                    {% block banner-filter %}{% endblock %}
                </div>
            {% endblock %}
            {% block main-container %}{% endblock %}
            {% include "footer.html" %}
            <div id="fb-root"></div>
        </div>
        {% block js-api %}{% endblock %}
        {% compress js %}
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/bootstrap/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/modernizr.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/jquery.validate.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/jquery.browser.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/SmoothScroll.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstraptemplate/js/template.js' %}"></script>
            <script type="text/javascript" src="{% static 'base/js/ajaxforms.js' %}"></script>
            <script type="text/javascript" src="{% static 'base/js/facebook.js' %}"></script>
		    {% block extra-js %}{% endblock %}
        {% endcompress %}
    </body>
</html>