{% load staticfiles %}
{% load form_tag %}
<footer id="footer" class="clearfix">
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-content">
                            <div class="logo-footer"><img id="logo-footer" src="{% static 'base/images/logo.png' %}" alt="sunSailing"></div>
                            <h6>Контакты</h6>
                            <address>
                                <ul class="list-inline mb-20">
                                    <li><i class="text-default fa fa-map-marker pl-10 pr-5"></i> ул. Ильинская 12, г. Киев, Украина</li>
                                </ul>
                                <ul class="list-inline mb-20">
                                    <li><i class="text-default fa fa-phone pl-10 pr-5"></i> +380 (44) 383-31-57</li>
                                    <li><i class="text-default fa fa-mobile pl-10 pr-5"></i> +380 (67) 226-83-96</li>
                                </ul>
                                <ul class="list-inline mb-20">
                                    <li><a href="mailto:office@sunsailing.com.ua"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i> office@sunsailing.com.ua</a></li>
                                    <li><a href="skype:sunsailingua?add" title="Добавить sunsailingua в список контактов Skype"><i class="text-default fa fa-skype pr-5 pl-10"></i> sunsailingua</a></li>
                                </ul>
                            </address>
                            <h6>График работы</h6>
                            <ul class="list-unstyled mb-20">
                                <li><i class="pl-10"></i>Понедельник &mdash; Пятница: c 10:00 до 19:00</li>
                                <li><i class="pl-10"></i>Суббота: с 10:00 до 15:00</li>
                            </ul>
                            <h6>Для партнеров</h6>
                            <p class="pl-10">Приглашаем к сотрудничеству: туристические агентства, капитанов, свадебные агентства, ивент-агентства и др. <a href="/sotrudnichestvo/">Подробнее...</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-content">
                        <h2 class="title">Ставьте лайк</h2>
                        <div class="fb-page" data-href="https://www.facebook.com/sunSailing.com.ua" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sunSailing.com.ua"><a href="https://www.facebook.com/sunSailing.com.ua">sunSailing</a></blockquote></div></div>
                        <div class="separator-2 mt-20"></div>
                            <ul class="social-links circle margin-clear animated-effect-1">
                                <li class="facebook"><a rel="nofollow" target="_blank" href="https://www.facebook.com/sunSailing.com.ua"><i class="fa fa-facebook"></i></a></li>
                                <li class="youtube"><a rel="nofollow" target="_blank" href="https://www.youtube.com/user/sunSailingYachts"><i class="fa fa-youtube"></i></a></li>
                                <li class="instagram"><a target="_blank" href="https://instagram.com/sunsailingua/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-content">
                            <h2 class="title">Напишите нам</h2>
                            {% contact_us_form as contact_us_form %}
                            <form id="contact_us" class="margin-clear" method="POST" action="{% url 'feedbackform:contact_us' %}">
                                {% csrf_token %}
                                <div class="form-group has-feedback {% if contact_us_form.name.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ contact_us_form.name.id_for_label }}"><strong>{{ contact_us_form.name.label }}</strong></label>
                                    {{ contact_us_form.name }}
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback {% if contact_us_form.email.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ contact_us_form.email.id_for_label }}"><strong>{{ contact_us_form.email.label }}</strong></label>
                                    {{ contact_us_form.email }}
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback {% if contact_us_form.message.errors %}has-error{% endif %}">
                                    <label class="sr-only" for="{{ contact_us_form.message.id_for_label }}">{{ contact_us_form.message.label }}</label>
                                    {{ contact_us_form.message }}
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <div class="alert hidden"></div>
                                <input value="Отправить" class="margin-clear submit-button btn btn-default" type="submit">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">© 2012 &mdash; {% now "Y"%} <a href="/">sunSailing</a>. Все права защищены.</p>
                        <p class="text-center"><a class="text-muted" href="/terms/"><small>Условия использования</small></a>   <a class="text-muted pl-10" href="/privacy/"><small>Конфиденциальность</small></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
