{% load staticfiles %}
{% load main_menu %}
<div class="header-container">
    <div class="header-top dark ">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-3">
                    <div class="header-top-first clearfix">
                        <ul class="social-links circle small clearfix hidden-xs">
                            <li class="facebook"><a rel="nofollow" target="_blank" href="https://www.facebook.com/sunSailing.com.ua"><i class="fa fa-facebook"></i></a></li>
                            <li class="youtube"><a rel="nofollow" target="_blank" href="https://www.youtube.com/user/sunSailingYachts"><i class="fa fa-youtube"></i></a></li>
                            <li class="instagram"><a rel="nofollow" target="_blank" href="https://instagram.com/sunsailingua/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                <ul class="dropdown-menu dropdown-animation">
                                    <li class="facebook"><a rel="nofollow" target="_blank" href="https://www.facebook.com/sunSailing.com.ua"><i class="fa fa-facebook"></i></a></li>
                                    <li class="youtube"><a rel="nofollow" target="_blank" href="https://www.youtube.com/user/sunSailingYachts"><i class="fa fa-youtube"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://instagram.com/sunsailingua/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-9">
                    <div id="header-top-second"  class="clearfix text-right">
                        <ul class="list-inline">
                            <li><a href="skype:sunsailingua?add" class="link-light" title="Добавить sunsailingua в список контактов Skype"><i class="fa fa-skype pr-5 pl-10"></i> <span class="hidden-xs hidden-sm">sunsailingua</span></a></li>
                            <li><a href="mailto:office@sunsailing.com.ua" class="link-light"><i class="fa fa-envelope-o pr-5 pl-10"></i> <span class="hidden-xs hidden-sm">office@sunsailing.com.ua</span></a></li>
                            <li class="hidden-xs"><i class="fa fa-phone pr-5 pl-10"></i>+380 (44) 383-31-57</li>
                            <li><i class="fa fa-mobile pr-5 pl-10"></i>+380 (67) 226-83-96</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header  fixed   clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-left clearfix">
                        <div id="logo" class="logo">
                            <a href="{% url 'home' %}"><img id="logo_img" src="{% static "base/images/logo.png" %}" alt="sunSailing"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-right clearfix">
                    <div class="main-navigation  animated with-dropdown-buttons">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Переключатель навигации</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="calc-tour">
                                        <a rel="nofollow" href="{% url 'feedbackform:tour_calculation' %}" class="btn btn-sm visible-xs btn-default" >Рассчитать тур на яхте <i class="fa fa-calculator pl-5"></i></a>
                                    </div>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav ">
                                        {% main_menu_show request.path 41 as main_menu %}
                                        {{ main_menu|safe }}
                                    </ul>
                                    <div class="header-dropdown-buttons">
                                        <a rel="nofollow" href="{% url 'feedbackform:tour_calculation' %}" class="btn btn-sm hidden-xs btn-default">Рассчитать тур <i class="fa fa-calculator pl-5"></i></a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
