<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
    <li class="facebook"><a rel="nofollow" title="Поделиться в Facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook"></i></a></li>
    <li class="googleplus"><a rel="nofollow" title="Поделиться в GooglePlus" target="_blank" href="http://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-google-plus"></i></a></li>
    <li class="twitter"><a rel="nofollow" title="Поделиться в Twitter" target="_blank" href="http://www.twitter.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i></a></li>
    <li class="vk"><a rel="nofollow" title="Поделиться в Вконтакте" target="_blank" href="http://vkontakte.ru/share.php?url={{ request.build_absolute_uri }}"><i class="fa fa-vk"></i></a></li>
</ul>
