{% load seo %}
{% if meta_item.description %}<meta content="{{ meta_item.description }}" name="description">{% endif %}
{% if meta_item.keywords %}<meta content="{{ meta_item.keywords }}" name="keywords">{% endif %}
<title>{% if meta_item.title %}{{ meta_item.title }} | {% endif %}{% site_name %}</title>
