{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}

{% block js-api %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/js/google.map.config.js' %}"></script>
{% endblock %}

{% block banner-image %}{% menu_banner_image 'contacts' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'contacts' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'contacts' %}{% endblock %}
{% block banner-subtitle-wrapper %}{% endblock %}

{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12 space-bottom">
                    <div class="row">
                        {{ flatpage.content|safe }}
                        <div class="col-md-6">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


