{% extends "base.html" %}

{% block meta-robots %}follow,noindex{% endblock %}

{% block banner %}{% endblock %}

{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ flatpage.content|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}