{% extends "base.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/rs-plugin/css/settings.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-js %}
	<!-- jQuery Revolution Slider  -->
	<script type="text/javascript" src="{% static 'bootstraptemplate/plugins/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstraptemplate/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
{% endblock %}

{% block banner %}
    <div class="banner clearfix">
        <div class="slideshow">
            <div class="slider-banner-container">
                <div class="slider-banner-fullwidth">
                    <ul class="slides">
                        <li data-transition="slotfade-vertical" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" >
                        <img src="{% static 'flatpages/mainpage/images/yachting-freedom.jpg' %}" alt="Яхтинг это - свобода парусов и ветра" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                            data-x="center"
                            data-y="bottom"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="0">
                        </div>
                        <div class="tp-caption sfb fadeout large_white text-right"
                            data-x="right"
                            data-y="100"
                            data-speed="500"
                            data-start="1000"
                            data-easing="easeOutQuad">Яхтинг это…
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme"
                            data-x="right"
                            data-y="170"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"><div class="separator-3 light"></div>
                        </div>
                        <div class="tp-caption sfb fadeout medium_white text-right"
                            data-x="right"
                            data-y="190"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"
                            data-endspeed="600">Свобода парусов и ветра
                        </div>
                        <div class="tp-caption fade fadeout"
                            data-x="center"
                            data-y="bottom"
                            data-voffset="100"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="2000"
                            data-endspeed="200">
                            <a href="#" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                        </div>
                        </li>
                        <li data-transition="slotfade-vertical" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                        <img src="{% static 'flatpages/mainpage/images/yachting-beautiful-bay.jpg' %}" alt="Яхтинг это - сказочно красивые бухты, кристально-чистое море" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                            data-x="center"
                            data-y="bottom"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="0">
                        </div>
                        <div class="tp-caption sfb fadeout large_white text-right"
                            data-x="right"
                            data-y="100"
                            data-speed="500"
                            data-start="1000"
                            data-easing="easeOutQuad">Яхтинг это…
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme"
                            data-x="right"
                            data-y="170"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"><div class="separator-3 light"></div>
                        </div>
                        <div class="tp-caption sfb fadeout medium_white text-right"
                            data-x="right"
                            data-y="190"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"
                            data-endspeed="600">Сказочно красивые бухты, кристально-чистое море
                        </div>
                        <div class="tp-caption fade fadeout"
                            data-x="center"
                            data-y="bottom"
                            data-voffset="100"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="2000"
                            data-endspeed="200">
                            <a href="#" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                        </div>
                        </li>
                        <li data-transition="slotfade-vertical" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" >
                        <img src="{% static 'flatpages/mainpage/images/yachting-romantic.jpg' %}" alt="Яхтинг это - романтика приключений" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
                        <div class="tp-caption dark-translucent-bg"
                            data-x="center"
                            data-y="bottom"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="0">
                        </div>
                        <div class="tp-caption sfb fadeout large_white text-right"
                            data-x="right"
                            data-y="100"
                            data-speed="500"
                            data-start="1000"
                            data-easing="easeOutQuad">Яхтинг это…
                        </div>
                        <div class="tp-caption sfb fadeout large_white tp-resizeme"
                            data-x="right"
                            data-y="170"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"><div class="separator-3 light"></div>
                        </div>
                        <div class="tp-caption sfb fadeout medium_white text-right"
                            data-x="right"
                            data-y="190"
                            data-speed="500"
                            data-start="1300"
                            data-easing="easeOutQuad"
                            data-endspeed="600">Романтика приключений
                        </div>
                        <div class="tp-caption fade fadeout"
                            data-x="center"
                            data-y="bottom"
                            data-voffset="100"
                            data-speed="500"
                            data-easing="easeOutQuad"
                            data-start="2000"
                            data-endspeed="200">
                            <a href="#" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                        </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main-container %}
    <section class="main-container border-clear light-gray-bg ">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h1 class="page-title text-center">Наши услуги</h1>
                    <div class="image-box space-top style-4">
                        <div class="row grid-space-0">
                            <div class="col-md-6">
                                <div class="overlay-container">
                                    <img src="{% static 'flatpages/mainpage/images/yacht-charter.jpg' %}" alt="Аренда яхт">
                                    <a href="{% url 'yachtcharter:main' %}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="body">
                                    <div class="mb-5 visible-lg"></div>
                                    <h3><a href="{% url 'yachtcharter:main' %}">Аренда яхт</a></h3>
                                    <div class="separator-2"></div>
                                    <p class="">Вы хотите отдохнуть с семьей или друзьями на отдельной яхте? Отлично! Учитывая ваши пожелания и возможности, мы подберем и забронируем парусную яхту, катамаран, моторную яхту, люкс-яхту или гулет.</p>
                                    <p class="">Наш эксперт по яхтингу проконсультирует по всем вопросам и поможет выбрать яхту, которая подходит именно вам.</p>
                                    <p class="margin-clear">Есть возможность организации всего путешествия под ключ: аренда яхты, услуги капитана, повара, хостес (по желанию), авиабилеты, трансфер, питание, маршрут, экскурсии…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-box style-4">
                        <div class="row grid-space-0">
                            <div class="col-md-6 col-md-push-6">
                                <div class="overlay-container">
                                    <img src="{% static 'flatpages/mainpage/images/yacht-cruise.jpg' %}" alt="Круизы на яхтах">
                                    <a href="{% url 'cabincharter:main' %}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <div class="body text-right">
                                    <div class="pv-30 visible-lg"></div>
                                    <h3><a href="{% url 'cabincharter:main' %}">Круизы на яхте, катамаране и гулете</a></h3>
                                    <div class="separator-3"></div>
                                    <p>Вы один или вас 5 человек, и вы не хотите арендовать целую яхту... Не беда! Это отличная возможность присоединиться к рейсу, который уже запланирован, но еще не укомплектован полной командой.</p>
                                    <p>Предлагаем вам арендовать каюту на комфортабельной яхте, катамаране или гулете.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-box style-4">
                        <div class="row grid-space-0">
                            <div class="col-md-6">
                                <div class="overlay-container">
                                    <img src="{% static 'flatpages/mainpage/images/sailing-school.jpg' %}" alt="Яхтенная школа">
                                    <a href="{{ flatpage.content }}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="body">
                                    <div class="pv-30 visible-lg"></div>
                                    <h3><a href="{{ flatpage.content }}">Яхтенная школа</a></h3>
                                    <div class="separator-2"></div>
                                    <p>Давно мечтали научиться управлять яхтой? Приходите к нам!</p>
                                    <p>Наши капитаны-инструкторы, настоящие профессионалы, обучат вас всем тонкостям яхтенного дела.  После окончания курса вы сможете сдать экзамены и получить права на управление яхтой ( Хорватские права «Boat Skipper», лицензию «IYT» (International Bareboat Training)).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                <span class="icon without-bg"><i class="fa fa-gift"></i></span>
                                <div class="body">
                                    <h3 class="title">Подарочные сертификаты</h3>
                                    <p>Вы можете оформить подарочный сертификат на  любую из наших услуг и порадовать вашу вторую половинку, друга или шефа оригинальным подарком.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                                <span class="icon without-bg"><i class="fa fa-group"></i></span>
                                <div class="body">
                                    <h3 class="title">Корпоративы на яхте</h3>
                                    <p>Организуйте для ваших сотрудников или партнеров увлекательное путешествие на яхтах.  Проведите переговоры или важную встречу на борту катамарана.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                <span class="icon without-bg"><i class="fa fa-heart"></i></span>
                                <div class="body">
                                    <h3 class="title">Свадебное путешествие</h3>
                                    <p>Медовый месяц на яхте…Что может быть романтичнее?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section default-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Наши преимущества</h2>
                    <div class="separator"></div>
                    <ul class="list-icons">
                        <li class="object-non-visible lead" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1"></i> Работаем более чем с 1500 проверенными чартерными компаниями по всему миру</li>
                        <li class="object-non-visible lead" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1"></i> Бронируем яхту за один день!</li>
                        <li class="object-non-visible lead" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1"></i> Обучаем для сдачи на международные права по системе IYT и Boat Skipper</li>
                        <li class="object-non-visible lead" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Дарим дополнительные скидки и  бонусы постоянным клиентам</li>
                        <li class="object-non-visible lead" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Мы любим яхтинг  и лично тестируем яхты каждый сезон</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
