{% extends "base.html" %}
{% load banner %}


{% block banner-image %}{% menu_banner_image 'school:cruise_list' %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'school:cruise_list' %}{% endblock %}
{% block banner-title %}{% menu_banner_title 'school:cruise_list' %}{% endblock %}
{% block banner-subtitle %}{% menu_banner_subtitle 'school:cruise_list' %}{% endblock %}


{% block main-container %}
    {% load humanize %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="row">
                        {% for cruise in cruise_list %}
                            <div class="col-md-4">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="{{ cruise.card_image.url }}" alt="{{ cruise.title }}">
                                        <a href="{{ cruise.get_absolute_url }}" class="overlay-link"><i class="fa fa-anchor"></i> </a>
                                        <span class="badge">{{ cruise.period }}</span>
                                    </div>
                                    <div class="body">
                                        <h3><a href="{{ cruise.get_absolute_url }}">{{ cruise.title }}</a></h3>
                                        <div class="separator-2"></div>
                                        {% for row in cruise.price_set.all %}
                                            <div class="row">
                                            <div class="col-md-9">
                                                {{ row.date_from|date:'j N Y' }} &mdash; {{ row.date_to|date:'j N Y'}}
                                            </div>
                                            <div class="col-md-3">
                                                <span class="price">{{ row.price|intcomma }} €</span>
                                            </div>
                                            </div>
                                        {% endfor %}
                                        Место старта: {{ cruise.start_port }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}