{% extends "base.html" %}
{% load staticfiles %}
{% load banner %}
{% load seo %}

{% block meta-og %}
    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="{% site_name %}" >
    <meta property="fb:app_id" content="{% fb_id %}" />
    <meta property="og:title" content="{{ cruise.title  }} - {{ cruise.subtitle }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ cruise.card_image.url }}" />
{% endblock %}

{% block extra-css %}
    <link href="{% static 'bootstraptemplate/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}
{% block extra-js %}
    <script type="text/javascript" src="{% static 'bootstraptemplate/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}


{% block banner-image %}{{ cruise.banner_image.url }}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show 'school:cruise_list' cruise.get_absolute_url cruise.title %}{% endblock %}
{% block banner-title %}{{ cruise.title }}{% endblock %}
{% block banner-subtitle %}{{ cruise.subtitle }}{% endblock %}


{% block main-container %}
    {% load humanize %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <div class="blogpost">
                        {{ cruise.cruise_description|safe }}
                    </div>
                    <div class="blogpost">
                        <h2>Круиз на {{ cruise.yacht.yacht_type.title_prepositional|lower }} <strong>{{ cruise.yacht.title }}</strong></h2>
                        <div class="separator-2"></div>
                        <div class="row space-bottom">
                            <div class="col-md-6">
                                {% for img in cruise.yacht.get_obj_by_type.photo_gallery.charter_images.all %}
                                    {% if forloop.first %}
                                        <div class="shadow bordered">
                                            <div class="overlay-container">
                                                <img src="{{ img.image.url }}" alt="{{ cruise.yacht.title }},  {{ cruise.yacht.cabin_display }} кают(ы){% if cruise.yacht.built_year %}, {{ cruise.yacht.built_year }} г. выпуска {% endif %}">
                                                <a href="{{ img.image.url }}" class="overlay-link popup-img">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="space-bottom"></div>
                                    {% endif %}
                                    {% if forloop.first %}
                                        <div class="row grid-space-20">
                                    {% endif %}
                                    {% if not forloop.first %}
                                            <div class="col-xs-4">
                                                <div class="overlay-container">
                                                    <img src="{{ img.thumbnail.url }}" alt="{{ cruise.yacht.title }},  {{ cruise.yacht.cabin_display }} кают(ы){% if cruise.yacht.built_year %}, {{ cruise.yacht.built_year }} г. выпуска {% endif %}">
                                                    <a href="{{ img.image.url }}" class="overlay-link small popup-img">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                    {% endif %}
                                    {% if forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="space-bottom"></div>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Характеристики {{ cruise.yacht.yacht_type.title_genitive|lower }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Бренд</td>
                                            <td class="information">
                                                {{ cruise.yacht.get_obj_by_type.shipyard.title }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Длина</td>
                                            <td class="information">
                                                {{ cruise.yacht.length }} м = {{ cruise.yacht.length_ft }} фт
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ширина</td>
                                            <td class="information">
                                                {{ cruise.yacht.beam }} м = {{ cruise.yacht.beam_ft }} фт
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Осадка</td>
                                            <td class="information">
                                                {{ cruise.yacht.get_obj_by_type.draft }} м = {{ cruise.yacht.get_obj_by_type.draft_ft }} фт
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Кают</td>
                                            <td class="information">
                                                {{ cruise.cabin }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>WC</td>
                                            <td class="information">
                                                {{ cruise.wc }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{{ cruise.yacht.get_absolute_url }}" class="btn btn-animated btn-default-transparent btn-sm">Подробнее <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        {{ cruise.price_description|safe }}
                        <div class="table-responsive listing-item">
                            <table class="table table-price table-hover">
                            <tbody>
                            {% for price in cruise.price_set.all %}
                                <tr>
                                    <td>{{ price.date_from }} &mdash; {{ price.date_to }}</td>
                                    <td class="text-center"><span class="price">{{ price.price|intcomma }} €</span></td>
                                    <td><a rel="nofollow" href="{% url 'feedbackform:school_cruise' price.id %}" class="pull-right margin-clear btn btn-sm btn-default btn-animated">Забронировать место<i class="fa fa-arrow-right"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>В стоимость включено</h3>
                                <ul class="list-icons">
                                    {% for item in cruise.priceinclude_set.all %}
                                        <li><i class="icon-check"></i> {{ item.include|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Дополнительно оплачивается</h3>
                                <ul class="list-icons">
                                    {% for item in cruise.priceexclude_set.all %}
                                        <li><i class="icon-plus float-left"></i> {{ item.exclude|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blogpost">
                        <h2>Программа круиза</h2>
                        <div class="separator-2"></div>
                        <div class="alert alert-info" >
                            <p>Место старта &mdash; <strong>{{ cruise.start_port }}</strong></p>
                        </div>
                        <div class="space-bottom"></div>
                        {{ cruise.cruise_program|safe }}
                    </div>
                    {% if cruise.afterword|length > 0  %}
                        <div class="blogpost">
                            {{ cruise.afterword|safe }}
                        </div>
                    {% endif %}
                    <div class="blogpost">
                        <p class="lead"><strong>До встречи на яхте!</strong></p>
                    </div>
                    <div class="blogpost full">
                        <footer class="clearfix">
                            <div class="link pull-left">
                                {% include "socialshare.html" %}
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
