{% extends "base.html" %}
{% load banner %}

{% block banner-image %}{% menu_banner_image theory.get_absolute_url True %}{% endblock %}
{% block banner-breadcrumbs %}{% breadcrumbs_show theory.get_absolute_url abs_url=True %}{% endblock %}
{% block banner-title %}{% menu_banner_title theory.get_absolute_url True %}{% endblock %}
{% block banner-subtitle %}{% menu_banner_subtitle theory.get_absolute_url True %}{% endblock %}


{% block main-container %}
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-8">
                        <div class="blogpost">
                            {{ theory.text|safe }}
                        </div>
                        <div class="blogpost">
                            <div class="call-to-action well">
                                <h2 class="title">Хотите научится управлять яхтой?</h2>
                                <p>Записывайтесь на теоретический курс прямой сейчас!</p>
                                <div class="table-responsive">
                                <table class="table table-price">
                                    <tr>
                                        <td>Начало занятий:</td>
                                        <td>
                                            {% for start_date in theory_start %}
                                                {{ start_date.start_date }}
                                                {% if not forloop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>Группы:</td>
                                        <td>вечерние: 19:00 - 21:30<br>выходного дня: 10:00 - 14:00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Дистанционный курс - в любое время</td>
                                    </tr>
                                </table>
                                </div>
                                <a rel="nofollow" href="{% url 'feedbackform:school_theory' %}" class="btn btn-lg btn-default btn-animated">Записаться на курс<i class="fa fa-arrow-right pl-20"></i></a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <h3 class="title">Школа яхтинга</h3>
                        <div class="separator-2"></div>
                        <nav class="affix-menu scrollspy">
                            <ul class="smooth-scroll nav nav-pills nav-stacked">
                                {% for section in theory_list %}
                                    <li {% if section.slug == theory.slug %} class="active"{% endif %}><a href="{{ section.get_absolute_url }}">{{ section.sidebar_title }}</a></li>
                                {% endfor %}
                                <li><a href="{% url 'school:cruise_list' %}">Практические круизы</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
